# Introduction
This notebook is a basic SQL analysis of the [DBLP dataset](http://dblp.uni-trier.de/). It is an open dataset of bibliographic information from published computer science papers and conferences. It is predicated on the data pipeline found in `pipeline.py` which will parse the XML-formatted data and associated `.dtd` file, both of which can be downloaded with the `setup_a1.sh` file. 

This analysis focuses only on published article and conference papers, and not on other papers e.g. PhD theses.

In [1]:
%%bash --out h
# gets hostname so we can access a Windows Postgres DB from WSL2
h="$(hostname).local"
echo "$h"

In [2]:
%load_ext sql

In [3]:
# followed guide here: https://medium.com/analytics-vidhya/postgresql-integration-with-jupyter-notebook-deb97579a38d
# accesses PSQL DB
import json
from typing import Dict

def read_config() -> Dict[str, str]:
    f = open('config.json', "r")
    config = json.loads(f.read())
    f.close()
    return config

config = read_config()
config['host'] = h.strip()

sql_address = f"postgresql://{config['user']}:{config['password']}@{config['host']}/{config['database']}"
%sql $sql_address

'Connected: postgres@dblp'

## Sanity Checks 
The following three cells are relatively simple checks. They tell us how many entries there are in the `inproceedings` (conference papers) table, the `article` (journal papers) table, and the authorships table, which tells us which authors worked on which papers.

In [4]:
%%sql
SELECT COUNT(*) AS cnt FROM inproceedings;

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
1 rows affected.

[(2956396,)]

In [14]:
%%sql
SELECT COUNT(*) AS cnt FROM article;

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
1 rows affected.

[(2738932,)]

In [13]:
%%sql
SELECT COUNT(*) AS cnt FROM authorship;

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
1 rows affected.

[(18128940,)]

## Conference Subject Area
In the following two cells, we are adding a new column called `area` to the `inproceedings` table. This column keeps track of which subject area a given conference paper was in. We have four areas which they can fall into:
- Databases
- Theory
- Systems
- ML-AI
Anything not falling into one of those categories is denoted `UNKNOWN`

In [ ]:
%%sql
ALTER TABLE inproceedings ADD COLUMN area text;

In [ ]:
%%sql
UPDATE inproceedings SET area = 'Database' WHERE booktitle IN ('SIGMOD Conference', 'VLDB', 'ICDE', 'PODS');
UPDATE inproceedings SET area = 'Theory' WHERE booktitle IN ('STOC', 'FOCS', 'SODA', 'ICALP');
UPDATE inproceedings SET area = 'Systems' WHERE booktitle IN ('SIGCOMM', 'ISCA', 'HPCA', 'PLDI');
UPDATE inproceedings SET area = 'ML-AI' WHERE booktitle IN ('ICML', 'NIPS', 'NeurIPS', 'AAAI', 'IJCAI');
UPDATE inproceedings SET area = 'UNKNOWN' WHERE area IS NULL;

## Area Author Counts

The first thing we will examine is the number of authors who publish in each area. The most notable takeaway here is the popularity of ML-AI: more authors have published in ML-AI than have published in all other categories put together.

In [57]:
%%sql
-- q3a
SELECT area, COUNT(DISTINCT author) AS cnt FROM inproceedings, authorship 
WHERE 
    inproceedings.pubkey = authorship.pubkey 
    AND area != 'UNKNOWN'
GROUP BY area;

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
4 rows affected.

[('Database', 16035), ('ML-AI', 52985), ('Systems', 12153), ('Theory', 8569)]

## Top Database Authors
Another thing we might want to have is a list of top authors in a given area. We will look at the top authors in Databases here. All ten authors have at least 100 publications, with the top author Divesh Srivastava having 150.

In [6]:
%%sql
-- q3b
WITH database_authors AS (
   SELECT authorship.pubkey, author, area FROM inproceedings, authorship
   WHERE
      inproceedings.pubkey = authorship.pubkey
      AND area = 'Database'
)

SELECT author, COUNT(*) as cnt 
FROM database_authors 
GROUP BY author
ORDER BY cnt DESC
LIMIT 10;

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
10 rows affected.

[('Divesh Srivastava', 150),
 ('H. V. Jagadish', 127),
 ('Surajit Chaudhuri', 127),
 ('Jiawei Han 0001', 110),
 ('Philip S. Yu', 110),
 ('Xuemin Lin 0001', 109),
 ('Jeffrey F. Naughton', 108),
 ('Beng Chin Ooi', 105),
 ('Hector Garcia-Molina', 104),
 ('Michael Stonebraker', 100)]

## Authors in two areas

In [67]:
%%sql
-- q3c
WITH area_authors AS (
    SELECT authorship.pubkey, author, area 
    FROM inproceedings, authorship
    WHERE 
        inproceedings.pubkey = authorship.pubkey
        AND area != 'UNKNOWN'
),
area_counts AS (
    SELECT author, COUNT(DISTINCT area) AS a_cnt FROM area_authors GROUP BY author
)

SELECT COUNT(*) as cnt FROM area_counts WHERE a_cnt = 2;

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
1 rows affected.

[(5775,)]

In [56]:
%%sql
-- q3d
WITH conf_count AS (
    SELECT authorship.author, COUNT(*) AS ccnt
    FROM inproceedings, authorship
    WHERE inproceedings.pubkey = authorship.pubkey
    GROUP BY authorship.author
),
journal_count AS (
    SELECT authorship.author, COUNT(*) AS jcnt
    FROM article, authorship
    WHERE article.pubkey = authorship.pubkey
    GROUP BY authorship.author 
),
combined AS (
    SELECT journal_count.author, COALESCE(ccnt, 0) AS ccnt, jcnt
    FROM journal_count
    LEFT JOIN conf_count ON journal_count.author = conf_count.author
)

SELECT COUNT(*) AS cnt
FROM combined
WHERE jcnt > ccnt;

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
1 rows affected.

[(1301165,)]

In [88]:
%%sql
-- q3e
-- got help on approach from Jose Balcazar
WITH db_authors AS (
    SELECT authorship.author
    FROM inproceedings, authorship
    WHERE inproceedings.pubkey = authorship.pubkey
        AND area = 'Database' 
),
articles_per_author_after_2000 AS (
    SELECT authorship.author, COUNT(*) AS article_cnt
    FROM authorship, article
    WHERE authorship.pubkey = article.pubkey
        AND year >= 2000
        AND authorship.author IN (SELECT * FROM db_authors)
    GROUP BY author
),
journals_per_author_after_2000 AS (
    SELECT authorship.author, COUNT(*) AS conf_cnt
    FROM authorship, inproceedings
    WHERE authorship.pubkey = inproceedings.pubkey
        AND year >= 2000
        AND authorship.author IN (SELECT * FROM db_authors)
    GROUP BY author 
)

SELECT journals_per_author_after_2000.author, conf_cnt + article_cnt AS cnt
FROM articles_per_author_after_2000, journals_per_author_after_2000
WHERE articles_per_author_after_2000.author = journals_per_author_after_2000.author
ORDER BY cnt DESC, author ASC
LIMIT 5

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
5 rows affected.

[('Wei Wang', 1482),
 ('Yang Liu', 1459),
 ('Yu Zhang', 1443),
 ('Lei Zhang', 1420),
 ('Philip S. Yu', 1410)]

In [5]:
%%sql decade_counts << 
WITH journal_decades AS (
    SELECT (year / 10)*10 AS decade, COUNT(*) AS num_confs
    FROM inproceedings
    WHERE (year / 10)*10 IS NOT NULL
    GROUP BY decade
),
article_decade AS (
    SELECT (year / 10)*10 AS decade, COUNT(*) AS num_journals
    FROM article
    WHERE (year / 10)*10 IS NOT NULL
    GROUP BY decade
)

SELECT article_decade.decade, num_journals, num_confs FROM journal_decades, article_decade
WHERE journal_decades.decade = article_decade.decade

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
8 rows affected.
Returning data to local variable decade_counts

In [11]:
import altair as alt
import pandas as pd
from typing import List

def sql_to_df(sql, cols: List[str]) -> pd.DataFrame:
    return pd.DataFrame(sql, columns=cols)

In [16]:
decade_df = sql_to_df(decade_counts, ['decade', 'num_articles', 'num_journals'])

decade_df = pd.melt(decade_df, id_vars=['decade'], value_vars=[
                 'num_articles', 'num_journals'])

decade_df
alt.Chart(decade_df, title='Question 4A').mark_line().encode(
    x=alt.X('decade', title="Decade", axis={'format': 'd'}), 
    y=alt.Y('value', title="Papers"),
    color='variable',
)

alt.Chart(...)

In [9]:
%%sql avg_collabs <<
WITH
author_decades AS ((
    SELECT authorship.pubkey, author, (year / 10)*10 AS decade
    FROM inproceedings, authorship
    WHERE authorship.pubkey = inproceedings.pubkey
) UNION (
    SELECT authorship.pubkey, author, (year / 10)*10 AS decade
    FROM article, authorship
    WHERE authorship.pubkey = article.pubkey
)),
conf_authors AS (
    SELECT authorship.pubkey, author, area, (year / 10)*10 AS decade
    FROM inproceedings, authorship
    WHERE authorship.pubkey = inproceedings.pubkey
        AND area != 'UNKNOWN'
),
collabs AS (
    SELECT authorship.author AS author, author_decades.decade, conf_authors.area, author_decades.author AS collaborator
    FROM authorship, author_decades, conf_authors
    WHERE
        authorship.pubkey = author_decades.pubkey
        AND authorship.author = conf_authors.author
        AND author_decades.decade = conf_authors.decade
        AND authorship.author != author_decades.author
),
collab_counts AS (
    SELECT author, area, decade, COUNT(DISTINCT collaborator) AS ccnt
    FROM collabs
    GROUP BY author, area, decade
)

SELECT decade, area, AVG(ccnt) avgcollab
FROM collab_counts
GROUP BY area, decade
ORDER BY decade ASC, area DESC

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
26 rows affected.
Returning data to local variable avg_collabs

In [12]:
avg_collabs_df = sql_to_df(avg_collabs, ['decade', 'area', 'avgcollab'])
avg_collabs_df.avgcollab = pd.to_numeric(avg_collabs_df.avgcollab)


alt.Chart(avg_collabs_df, title="Question 4B").mark_bar().encode(
    x='area:O',
    y='avgcollab:Q',
    color='area:N',
    column='decade:N'
)

alt.Chart(...)

In [13]:
%%sql avg_authors <<
WITH authors_per_paper AS (
    SELECT inproceedings.pubkey, area, COUNT(author) AS authcount, (year / 10)*10 AS decade
    FROM inproceedings, authorship
    WHERE inproceedings.pubkey = authorship.pubkey
        AND area != 'UNKNOWN'
    GROUP BY inproceedings.pubkey
)

SELECT decade, area, AVG(authcount) AS avgcoauthor
FROM authors_per_paper
GROUP BY area, decade
ORDER BY decade ASC, area ASC

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
26 rows affected.
Returning data to local variable avg_authors

In [17]:
avg_authors_df = sql_to_df(avg_authors, ['decade', 'area', 'avgcoauthor'])
avg_authors_df.avgcoauthor = pd.to_numeric(avg_authors_df.avgcoauthor)


alt.Chart(avg_authors_df, title="Question 4C").mark_bar().encode(
    x='area:O',
    y='avgcoauthor:Q',
    color='area:N',
    column='decade:N'
)

alt.Chart(...)

In [20]:
%%sql
WITH authors_per_paper AS (
    SELECT inproceedings.pubkey, area, COUNT(author) AS authcount, (year / 10)*10 AS decade
    FROM inproceedings, authorship
    WHERE inproceedings.pubkey = authorship.pubkey
        AND area != 'UNKNOWN'
    GROUP BY inproceedings.pubkey
),
avg_authors AS (
    SELECT decade, area, AVG(authcount) AS avgcoauthor
    FROM authors_per_paper
    GROUP BY area, decade
    ORDER BY decade ASC, area ASC
),
area_count AS (
    SELECT area, COUNT(*) AS n FROM avg_authors GROUP BY area
), 
abcdn_tab AS (
    SELECT area, SUM(decade * avgcoauthor) AS a, SUM(decade) as b, SUM(avgcoauthor) AS c, SUM(decade^2) AS d, COUNT(*) AS n FROM avg_authors GROUP BY area
)

SELECT 
    area, ((n * a) - (b * c)) / ((n * d) - b^2) AS slope
FROM abcdn_tab
ORDER BY slope DESC

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
4 rows affected.

[('Systems', 0.0780080277682612),
 ('Database', 0.05688557920163316),
 ('ML-AI', 0.04167983402424986),
 ('Theory', 0.02866353028426226)]