In [1]:
%%bash --out h

h="$(hostname).local"
echo "$h"

In [2]:
%load_ext sql

In [3]:
# followed guide here: https://medium.com/analytics-vidhya/postgresql-integration-with-jupyter-notebook-deb97579a38d
from sqlalchemy import create_engine
import json
from typing import Dict

def read_config() -> Dict[str, str]:
    f = open('config.json', "r")
    config = json.loads(f.read())
    f.close()
    return config

config = read_config()
config['host'] = h.strip()

sql_address = f"postgresql://{config['user']}:{config['password']}@{config['host']}/{config['database']}"
%sql $sql_address

'Connected: postgres@dblp'

In [15]:
%%sql
SELECT COUNT(*) AS cnt FROM inproceedings;

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
1 rows affected.

[(2956396,)]

In [14]:
%%sql
SELECT COUNT(*) AS cnt FROM article;

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
1 rows affected.

[(2738932,)]

In [13]:
%%sql
SELECT COUNT(*) AS cnt FROM authorship;

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
1 rows affected.

[(18128940,)]

In [ ]:
%%sql
ALTER TABLE inproceedings ADD COLUMN area text;

In [ ]:
%%sql
UPDATE inproceedings SET area = 'Database' WHERE booktitle IN ('SIGMOD Conference', 'VLDB', 'ICDE', 'PODS');
UPDATE inproceedings SET area = 'Theory' WHERE booktitle IN ('STOC', 'FOCS', 'SODA', 'ICALP');
UPDATE inproceedings SET area = 'Systems' WHERE booktitle IN ('SIGCOMM', 'ISCA', 'HPCA', 'PLDI');
UPDATE inproceedings SET area = 'ML-AI' WHERE booktitle IN ('ICML', 'NIPS', 'NeurIPS', 'AAAI', 'IJCAI');
UPDATE inproceedings SET area = 'UNKNOWN' WHERE area IS NULL;

In [57]:
%%sql
-- q3a
SELECT area, COUNT(DISTINCT author) AS cnt FROM inproceedings, authorship 
WHERE 
    inproceedings.pubkey = authorship.pubkey 
    AND area != 'UNKNOWN'
GROUP BY area;

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
4 rows affected.

[('Database', 16035), ('ML-AI', 52985), ('Systems', 12153), ('Theory', 8569)]

In [6]:
%%sql
-- q3b
WITH database_authors AS (
   SELECT authorship.pubkey, author, area FROM inproceedings, authorship
   WHERE
      inproceedings.pubkey = authorship.pubkey
      AND area = 'Database'
)

SELECT author, COUNT(*) as cnt 
FROM database_authors 
GROUP BY author
ORDER BY cnt DESC
LIMIT 10;

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
10 rows affected.

[('Divesh Srivastava', 150),
 ('H. V. Jagadish', 127),
 ('Surajit Chaudhuri', 127),
 ('Jiawei Han 0001', 110),
 ('Philip S. Yu', 110),
 ('Xuemin Lin 0001', 109),
 ('Jeffrey F. Naughton', 108),
 ('Beng Chin Ooi', 105),
 ('Hector Garcia-Molina', 104),
 ('Michael Stonebraker', 100)]

In [67]:
%%sql
-- q3c
WITH area_authors AS (
    SELECT authorship.pubkey, author, area 
    FROM inproceedings, authorship
    WHERE 
        inproceedings.pubkey = authorship.pubkey
        AND area != 'UNKNOWN'
),
area_counts AS (
    SELECT author, COUNT(DISTINCT area) AS a_cnt FROM area_authors GROUP BY author
)

SELECT COUNT(*) as cnt FROM area_counts WHERE a_cnt = 2;

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
1 rows affected.

[(5775,)]

In [56]:
%%sql
-- q3d
WITH conf_count AS (
    SELECT authorship.author, COUNT(*) AS ccnt
    FROM inproceedings, authorship
    WHERE inproceedings.pubkey = authorship.pubkey
    GROUP BY authorship.author
),
journal_count AS (
    SELECT authorship.author, COUNT(*) AS jcnt
    FROM article, authorship
    WHERE article.pubkey = authorship.pubkey
    GROUP BY authorship.author 
),
combined AS (
    SELECT journal_count.author, COALESCE(ccnt, 0) AS ccnt, jcnt
    FROM journal_count
    LEFT JOIN conf_count ON journal_count.author = conf_count.author
)

SELECT COUNT(*) AS cnt
FROM combined
WHERE jcnt > ccnt;

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
1 rows affected.

[(1301165,)]

In [88]:
%%sql
-- q3e
WITH db_authors AS (
    SELECT authorship.author
    FROM inproceedings, authorship
    WHERE inproceedings.pubkey = authorship.pubkey
        AND area = 'Database' 
),
articles_per_author_after_2000 AS (
    SELECT authorship.author, COUNT(*) AS article_cnt
    FROM authorship, article
    WHERE authorship.pubkey = article.pubkey
        AND year >= 2000
        AND authorship.author IN (SELECT * FROM db_authors)
    GROUP BY author
),
journals_per_author_after_2000 AS (
    SELECT authorship.author, COUNT(*) AS conf_cnt
    FROM authorship, inproceedings
    WHERE authorship.pubkey = inproceedings.pubkey
        AND year >= 2000
        AND authorship.author IN (SELECT * FROM db_authors)
    GROUP BY author 
)

SELECT journals_per_author_after_2000.author, conf_cnt + article_cnt AS cnt
FROM articles_per_author_after_2000, journals_per_author_after_2000
WHERE articles_per_author_after_2000.author = journals_per_author_after_2000.author
ORDER BY cnt DESC, author ASC
LIMIT 5

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
5 rows affected.

[('Wei Wang', 1482),
 ('Yang Liu', 1459),
 ('Yu Zhang', 1443),
 ('Lei Zhang', 1420),
 ('Philip S. Yu', 1410)]

In [6]:
%%sql decade_counts << 
WITH journal_decades AS (
    SELECT (year / 10)*10 AS decade, COUNT(*) AS num_confs
    FROM inproceedings
    WHERE (year / 10)*10 IS NOT NULL
    GROUP BY decade
),
article_decade AS (
    SELECT (year / 10)*10 AS decade, COUNT(*) AS num_journals
    FROM article
    WHERE (year / 10)*10 IS NOT NULL
    GROUP BY decade
)

SELECT article_decade.decade, num_journals, num_confs FROM journal_decades, article_decade
WHERE journal_decades.decade = article_decade.decade

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
8 rows affected.
Returning data to local variable decade_counts

In [11]:
import altair as alt
import pandas as pd
from typing import List

def sql_to_df(sql, cols: List[str]) -> pd.DataFrame:
    return pd.DataFrame(sql, columns=cols)

In [12]:
decade_df = sql_to_df(decade_counts, ['decade', 'num_articles', 'num_journals'])

decade_df = pd.melt(decade_df, id_vars=['decade'], value_vars=[
                 'num_articles', 'num_journals'])

decade_df
alt.Chart(decade_df, title='Question 4A').mark_line().encode(
    x=alt.X('decade', title="Decade", axis={'format': 'd'}), 
    y=alt.Y('value', title="Papers"),
    color='variable',
)

alt.Chart(...)

In [90]:
%%sql
-- q4b
WITH conf_collab AS (
    SELECT authorship.pubkey, (COUNT(author) - 1) as cnt, area
    FROM authorship, inproceedings
    WHERE authorship.pubkey = inproceedings.pubkey
    GROUP BY authorship.author
)

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
10 rows affected.

[('books/daglib/p/0001MWK11', 3),
 ('books/daglib/p/ArakiH11', 1),
 ('books/daglib/p/KurosawaMT11', 2),
 ('books/daglib/p/Lopez-CozarGECA11', 4),
 ('books/daglib/p/McTear11', 0),
 ('books/daglib/p/MinamiMMHDM11', 5),
 ('books/daglib/p/MisuSKOHKN11', 6),
 ('books/daglib/p/OhtakeMHKN11', 4),
 ('books/daglib/p/PolzehlSM11', 2),
 ('books/daglib/p/RaabGN11', 2)]

In [8]:
%%sql avg_authors <<
WITH authors_per_paper AS (
    SELECT inproceedings.pubkey, area, COUNT(author) AS authcount, (year / 10)*10 AS decade
    FROM inproceedings, authorship
    WHERE inproceedings.pubkey = authorship.pubkey
        AND area != 'UNKNOWN'
    GROUP BY inproceedings.pubkey
)

SELECT decade, area, AVG(authcount) AS avgcoauthor
FROM authors_per_paper
GROUP BY area, decade
ORDER BY decade ASC, area ASC

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
26 rows affected.
Returning data to local variable avg_authors

In [14]:
avg_authors_df = sql_to_df(avg_authors, ['decade', 'area', 'avgcoauthor'])
avg_authors_df.avgcoauthor = pd.to_numeric(avg_authors_df.avgcoauthor)


alt.Chart(avg_authors_df, title="Question 4C").mark_bar().encode(
    x='area:O',
    y='avgcoauthor:Q',
    color='area:N',
    column='decade:N'
)

    decade      area  avgcoauthor
0     1960     ML-AI     1.746032
1     1960    Theory     1.290323
2     1970  Database     1.848485
3     1970     ML-AI     1.792105
4     1970   Systems     1.917969
5     1970    Theory     1.578019
6     1980  Database     2.060858
7     1980     ML-AI     1.821577
8     1980   Systems     2.257288
9     1980    Theory     1.875467
10    1990  Database     2.664612
11    1990     ML-AI     2.114958
12    1990   Systems     2.741965
13    1990    Theory     2.291117
14    2000  Database     3.403599
15    2000     ML-AI     2.734846
16    2000   Systems     3.614329
17    2000    Theory     2.479197
18    2010  Database     4.078037
19    2010     ML-AI     3.518936
20    2010   Systems     4.610526
21    2010    Theory     2.809957
22    2020  Database     4.472371
23    2020     ML-AI     4.180506
24    2020   Systems     5.792115
25    2020    Theory     2.943050

In [55]:
%%sql
WITH authors_per_paper AS (
    SELECT inproceedings.pubkey, area, COALESCE(COUNT(author), 0) AS authcount, (year / 10)*10 AS decade
    FROM inproceedings, authorship
    WHERE inproceedings.pubkey = authorship.pubkey
        AND area != 'UNKNOWN'
    GROUP BY inproceedings.pubkey
),
papers_per_area AS (
    SELECT area, COUNT(*) as papercount, (year / 10)*10 AS decade
    FROM inproceedings
    WHERE area != 'UNKNOWN'
    GROUP BY area, decade
),
collated_papers AS (
    SELECT area, SUM(authcount) AS totalauthors, decade
    FROM authors_per_paper
    GROUP BY area, decade
),
avg_authors AS (
    SELECT papers_per_area.decade, papers_per_area.area, (totalauthors / papercount) AS avgcoauthor
    FROM papers_per_area, collated_papers
    WHERE papers_per_area.area = collated_papers.area
        AND papers_per_area.decade = collated_papers.decade
    ORDER BY decade ASC, area 
),
area_count AS (
    SELECT area, COUNT(*) AS n FROM avg_authors GROUP BY area
), 
decade_count AS (
    SELECT (decade % 1960) / 10 AS decade_num, area, avgcoauthor
    FROM avg_authors
),
abcdn_tab AS (
    SELECT area, SUM(decade_num * avgcoauthor) AS a, SUM(decade_num) as b, SUM(avgcoauthor) AS c, SUM(decade_num^2) AS d, COUNT(*) AS n FROM decade_count GROUP BY area
)

-- SELECT area, COUNT(*) FROM decade_count GROUP BY area
SELECT 
    area, ((n * a) - (b * c)) / ((n * d) - b^2) AS slope
FROM abcdn_tab
ORDER BY slope DESC

 * postgresql://postgres:***@Big-Hat-Logan.local/dblp
4 rows affected.

[('Systems', 0.7795931455206031),
 ('Database', 0.5684403328239886),
 ('ML-AI', 0.4161163827095369),
 ('Theory', 0.28475537527822153)]